  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Are you sure you would like to delete all of the articles?</h4>
      <p>Warning: This action cannot be reversed</p>
    </div>
    <div class="modal-footer">
      <a href="/drop" id="delete" class="clear modal-close waves-effect waves-green btn-flat">Delete Articles</a>
      <a href="#!"  class="modal-close waves-effect waves-green btn-flat">Go Back</a>
    </div>
  </div>