 <header> 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="">FASHION-THAT</a>
             <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/scrape">Scrape Articles</a></li>
                <li><a href="/drop">Clear Articles</a></li>
                {{!-- <li><a href="">Favorites</a></li> --}}
                <li><a href="">Articles<span id="new-articles" class="new badge" style="background-color:  #920050"></span></a></li>
                <li><i class="material-icons">favorite</i></a></li>
            </ul>
        </div>
    </nav>

      <ul class="sidenav" id="mobile-demo">
    <li><a href="">Sass</a></li>
    <li><a href="">Components</a></li>
    <li><a href="">Javascript</a></li>
    <li><a href="">Mobile</a></li>
  </ul>
</header>