
<!DOCTYPE html>
<html> 
    <head>
        <title>FRAME-THIS</title>
        <!-- Meta Tags -->
        <meta charset="UTF-8">

        <!--Let browser know website is optimized for mobile-->
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="https://cdn.rawgit.com/Dogfalo/materialize/fc44c862/dist/css/materialize.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
        <script src="https://cdn.rawgit.com/Dogfalo/materialize/fc44c862/dist/js/materialize.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/pinzon1992/materialize_table_pagination/f9a8478f/js/pagination.js"></script>
   
        <!-- External Fonts from Adobe -->
        

        <!-- CSS Stylesheets -->
        <link rel="stylesheet" href="/assets/css/reset.css">
        <link rel="stylesheet" href="/assets/css/materialize.min.css">
        <link rel="stylesheet" href="/assets/css/style.css">

    </head>
 
    <body> 
        
        {{{body}}}
       

        <!-- Custom js -->
        <script type="text/javascript" src="/assets/js/custom.js"></script>
        <script type="text/javascript" src="/assets/js/articles.js"></script>
        

    </body>
</html>

