 {{> top_nav}} 
   <main>
      <section class="container center-align">
            <h2 class="display-4">Articles!</h2>
            <hr class="my-4">
            <hr class="my-4">
            <h5 style="color:grey!important"><strong></strong></h5>
            <h6></h6>
            <h6></h6>
            <br>

            <div id="articles"></div>
            <div id="notes"></div>
      </section>
    </main>
     

 {{> footer}}