 {{> top_nav}} 
   <main>
      <section class="center-align">
        <div class="box"> 
          
      <div class="left">
       <iframe style="text-align:center; max-width: 470px; width: 100%; height: 700px; border: 20px double black;" id="myframe" src="https://www.youtube.com/embed/O4ZAAi8awk4?autoplay=1"></iframe> 
        </div>
      <div class="right" style=" ">
         
            <h5 style="color: purple">Top Articles </h5>
            <div id="articles" style="height: 470px; margin: 8px; overflow: scroll"></div>
         
             <div id="notes" style="height: 169px; overflow: scroll">
                <h5 style="color: silver">Notes</h5>
             </div>
      </div>
             <div id="links" style="height: 200px; overflow: scroll"></div>
           
          </div>
      </section>
    </main>
     

 {{> footer}}