 {{> top_nav}} 
   <main>
      <section class="center-align">
        <div class="box"> 
          
      <div class="left">
       <iframe style="text-align:center; max-width: 470px; width: 100%; height: 700px; border: 20px double black;" id="myframe"></iframe> 
        </div>
      <div class="right" style=" ">
            <div id="articles" style="height: 200px; overflow: scroll"></div>
            <h3>Notes: </h3>
             <div id="notes" style="height: 200px; overflow: scroll"></div>
      </div>
             <div id="links" style="height: 200px; overflow: scroll"></div>
           
          </div>
      </section>
    </main>
     

 {{> footer}}