   /* ========================================================== */
  /*                    S T Y L E S H E E T                     */
 /* ========================================================== */

body {
    display: flex;
flex-direction: column;
 min-height: 100vh;
 position: relative;


}

header, nav{
    background-color: #0f0f0f!important;
    top: 0;
    z-index: 1; 
    width: 100%;
    position: sticky;
  }

main {
  background-color: rgb(201, 201, 201);
  z-index: 0; 
  
  min-height: 90vh;
}

footer.page-footer {
    background-color: #0f0f0f!important;
    z-index: 1;
    bottom: 0;
    width: 100%;
    position: absolute;
}
/* .navbar-brand, .white-text, .display-4 {
   
} */

.box {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px; 
  width: 100%; 

  margin: 0 auto; 
  margin-top: 20px; 
}
.right-box {
  flex: 1 0 0;
}
.right-box-notes {
  height: 320px; 
  overflow: scroll;
}
.left-box {
  flex: 1 1 0;
}

.title {
padding: 5px;
font-size: 16px;
line-height: 1.5;
background: #920050;
color: rgb(201, 201, 201);
background-image: -webkit-linear-gradient(bottom, #920050, #E0007B);
background-image: -moz-linear-gradient(bottom, #920050, #E0007B);
background-image: -ms-linear-gradient(bottom, #920050, #E0007B);
background-image: -o-linear-gradient(bottom, #920050, #E0007B);
background-image: linear-gradient(to top, #920050, #E0007B);

}
.pagination li.active a {
  background-color: rgb(146, 0, 80); 
}

#notes {
  /* background-color: #0f0f0f!important; */
  /* color: silver;  */
  line-height: 2.5;
  /* padding: 10px;  */
  margin: 8px; 

}

.article-preview {
  height: 40px;
} 


.BUTTON_NXA, .page_link {
  /* background: #F7F7F7;
background-image: -webkit-linear-gradient(top, #F7F7F7, #9b9999);
    background-image: -moz-linear-gradient(top, #F7F7F7, #9b9999);
    background-image: -ms-linear-gradient(top, #F7F7F7, #9b9999);
    background-image: -o-linear-gradient(top, #F7F7F7, #9b9999);
    background-image: linear-gradient(to bottom, #F7F7F7, #9b9999); */
   /* -webkit-border-radius: 8px; */
   /* -moz-border-radius: 8px; */
  /* border-radius: 8px; */
  color: #920050;
  font-family: Open Sans;
 font-size: 16px;
    font-weight: 100;
    padding: 6px 8px;
    margin: 8px 8px 0px 8px; 
    /* box-shadow: 1px 1px 20px 0px #000000;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000; */
    /* text-shadow: 1px 1px 20px #000000; */
    border: outset #C9C9C9 1px;
    text-decoration: none;
    display: inline-block;
   cursor: pointer;
    }
    
    .BUTTON_NXA:hover, .page_link:hover, .badge:hover {
    background: #920050;
    color: rgb(201, 201, 201);
    background-image: -webkit-linear-gradient(top, #920050, #E0007B);
    background-image: -moz-linear-gradient(top, #920050, #E0007B);
    background-image: -ms-linear-gradient(top, #920050, #E0007B);
 background-image: -o-linear-gradient(top, #920050, #E0007B);
    background-image: linear-gradient(to bottom, #920050, #E0007B);
   text-decoration: none;
    }

    .action-buttons {
      display: table; 
      margin: 0 auto;
    }

    .description {
      background-color: rgb(233, 233, 233); 
      padding: 8px;
      color: #1f1f1f;
      line-height: 1.5;
    }

    h6, h5 {
      margin: 0; 
    }

.pagination li, .pagination li a , .pagination li.active a  {
  height: auto; 
}
.pagination li.active {
  /* border: 1px solid #1f1f1f; */
  background-color: transparent!important;
}

.material-icons, #total-articles {
  padding-top: 10px; 
  color: #920050;
}

tr {
  border-bottom: none; 
}

.purple-text a {
  padding: 8px;
  color: rgb(146, 0, 80);
   cursor: pointer;
}
.purple-text {
margin-top: 8px;
}

td {
  padding-top: 2px; 
  padding-left: 0;
  padding-right: 0; 
}

#myframe {
  text-align:center; 
  max-width: 470px; 
  width: 100%; 
  height: 700px; 
  border: 20px double black;
}

#titleinput, #titleinput:active { 
  border-bottom: none; 
  box-shadow: none;
}
input:not([type]):focus:not([readonly]) {
  border-bottom: none; 
}

input:not([type]) {
  color: grey;
  border-bottom: none; 

}
input::-webkit-input-placeholder {
  color:grey !important;
  }
   
  input:-moz-placeholder { /* Firefox 18- */
  color: grey !important;  
  }
   
  input::-moz-placeholder {  /* Firefox 19+ */
  color: grey !important;  
  }
   
  input:-ms-input-placeholder {  
  color: grey  !important;  
  }

